<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ravneet.ieeedtu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ieee_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AchievementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IEEECouncilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity.SIGNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity.EventNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity.ChatRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakingPosts.SIGInformationPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity.DetailsSIG"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity.LargeSIGNotification"
            android:screenOrientation="portrait" />
        <activity android:name=".MakingPosts.MakePosts" />
        <activity android:name=".MakingPosts.IEEECouncilPost" />
        <activity android:name=".MakingPosts.MakeMember" />
        <activity android:name=".MakingPosts.NotificationPosting" />
        <activity android:name=".activities.LargePublicNotification" />
        <activity android:name=".MakingPosts.PostAchievement" />
        <activity android:name=".activities.LargeAchievement"></activity>
    </application>

</manifest>